@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

body {
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0;
}

header {
    background-color: #7C83FD;
    padding: 10px;
    border-bottom: solid 1px;
}

header h1 {
    text-align: center;
}

#add-book {
    background-color: #96BAFF;
    padding: 10px;
    border-bottom: 1px solid;
}

#add-book input {
    margin: 5px;
    display: block;
    width: 50%;
}

#unfinishedbooks, #finishedbooks {
    width: 50%;
    border-bottom: 1px solid;
}

#unfinishedbooks {
    float: left;
    background-color: #7DEDFF;
}

#finishedbooks {
    float: right;
    background-color: #88FFF7;
}

.book {
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.read, .unread, .delete {
    border-radius: 10px;
}

.delete {
    background-color: red;
}

.id {
    display: none;
}

#identity {
    position: fixed;
    height: 100%;
    border: 3px solid;
    text-align: center;
    top: 0;
    right: -600px;
    background-color: whitesmoke;
    z-index: 2;
    transition: 1s;
    overflow: scroll;
}

#identity img {
    height: 200px;
    border: 1px solid;
}

#identitybutton {
    position: fixed;
    right: 0;
    transition: 1s;
}

#identity-close {
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin: 10px;
}

#disclaimer {
    position: fixed;
    left: 45%;
    bottom: 0;
    transition: 1s;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: -155px;
    transition: 1s;
    width: 100%;
}

#help {
    border-radius: 50%;
    position: fixed;
    top: 15px;
    right: 15px;
}

#helpTab {
    position: fixed;
    transition: 1s;
    opacity: 0;
    top: -65%;
    left: 2%;
    background-color: white;
    border: solid 2px;
    box-shadow: 2px 2px 5px black;
    padding: 5px;
    z-index: 2;
}