@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', sans-serif;
}

header {
    background-color: #7C83FD;
    padding: 10px;
    border-bottom: solid 1px;
}

header h1 {
    text-align: center;
}

#add-book {
    background-color: #96BAFF;
    padding: 10px;
    border-bottom: 1px solid;
}

#add-book input, #editTab input {
    margin: 5px;
    display: block;
}

#add-book input {
    width: 50vw;
}

#unfinishedbooks, #finishedbooks {
    width: 50%;
    border-bottom: 1px solid;
    height: 100vh;
}

#unfinishedbooks {
    float: left;
    background-color: #7DEDFF;
}

#finishedbooks {
    float: right;
    background-color: #88FFF7;
}

.book {
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.read, .unread, .delete, .edit {
    border-radius: 10px;
    margin: 5px;
}

.id {
    display: none;
}

.bookListTitle {
    margin: 1rem;
}

.langToggle {
    position: absolute;
    right: 5%;
}